<!DOCTYPE html>
<head>

</head>
<body>
    <h1>LeafSpyRESTGo</h1>
    <p>VIN:&nbsp;</p>
    <p>SOH: &nbsp;</p>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Time</td>
                <td>DevBat</td>
                <td>Gids</td>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Elevation</td>
                <td>Seq</td>
                <td>Trip</td>
                <td>Odo</td>
                <td>SOC</td>
                <td>AHr</td>
                <td>BatTemp</td>
                <td>Amb</td>
                <td>Wpr</td>
                <td>PlugState</td>
                <td>ChrgMode</td>
                <td>ChrgPwr</td>
                <td>PwrSw</td>
                <td>RPM</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{.dataRow.ID}}</td>
                    <td>&nbsp;</td>
                    <td>{{.dataRow.DevBat}}</td>
                    <td>Gids</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Elevation</td>
                    <td>Seq</td>
                    <td>Trip</td>
                    <td>Odo</td>
                    <td>SOC</td>
                    <td>AHr</td>
                    <td>BatTemp</td>
                    <td>Amb</td>
                    <td>Wpr</td>
                    <td>PlugState</td>
                    <td>ChrgMode</td>
                    <td>ChrgPwr</td>
                    <td>PwrSw</td>
                    <td>RPM</td>
                </tr>
        </tbody>
    </table>
</body>